

body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

}


h1{
    margin: 0;
    font-family: 'Sacramento', cursive;
    font-size: 5.62em;
    margin-top: 50px;
    color:  #66BFBF;
    line-height: 2;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin-top: 0;
    color:  #66BFBF;
    font-weight: normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    margin-bottom: 0;
  
}

p{
    margin-top: 0;
}

.long-text{
    margin-top: 0;
}

a{
    color: #11999E;
}

.bottom-cloud{
    position:absolute;
    bottom: 300px;
    left: 300px;
}

.top-cloud{
    position:absolute;
    top: 50px;
    right: 300px;

}

.top-container{
    position:relative;
    padding-top: 100px;
    background-color: #EAF6F6;
}

.middle-container{
  margin-top: 90px;
}

.bottom-container{
   
}


.go{
    text-decoration: underline;
}

.skill-row{
    width: 50%;
    margin: 100px auto ;
    text-align: left;
    line-height: 2;
}

.piano{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.microphone{
    width: 25%;
    float: right;
    margin-left: 30px;
    
}
